#wrapper{
    font-family: Arial;
    width: 1000px;
}

form{
    width: 275px;
    display: inline-block;
}
form input{
    display: inline-block;
    margin: 10px 3px;
}
form textarea{
    display: block;
    width: 250px;
    height: 100px;
    margin: 5px 3px;
}
form label{
    margin: 3px;
}

#cards{
    display: inline-block;
    vertical-align: top;
}

.contact{
    text-align: center;
    border: 2px solid black;
    width: 300px;
    height: 150px;
    margin: 5px;
    background: #C5C5C5;
    background: -webkit-linear-gradient(#F5F5F5, lightgray);
    background: -o-linear-gradient(#F5F5F5, lightgray);
    background: -moz-linear-gradient(#F5F5F5, lightgray);
    background: linear-gradient(#F5F5F5, lightgray);
}